.line-through {
    text-decoration: line-through;
}

body {
    background-color: #3e2723;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f8f1e3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    font-weight: bold;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

.form-control {
    margin-bottom: 10px;
}


.task-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text {
    cursor: pointer;
}